@keyframes highlight {
    0% {
        outline: 4px solid red;
    }

    50% {
        outline: 4px solid transparent;
    }

    100% {
        outline: 4px solid red;
    }
}

.highlight {
    animation: highlight 1s linear;
}

#errors-list {
    padding: .75rem;

    details {
        background: #22272B;
        padding: .75rem;
        margin-bottom: .75rem;

        summary {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                filter: invert(1);
                transform: rotate(0deg);
            }
        }

        &[open] {
            summary img {
                transform: rotate(180deg);
            }
        }
    }
}