:root {
    --text-primary: #DEE4EA;
    --background-primary: #101214;
    --background-secondary: #22272B;
    --background-tertiary: #2C333A;
    --background-quaternary: #454F59;
    --neutral500: #596773;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-primary: #121212;
        --background-primary: #F7F8F9;
        --background-secondary: #F1F2F4;
        --background-tertiary: #DCDFE4;
        --background-quaternary: #B3B9C4;
        --neutral500: #8590A2;
    }

    .icon {
        filter: invert(1);
    }
}