#errors-count-container {
    margin: 1rem 0;
    display: none;
    background: rgba(223, 223, 223, 0.4);
    border: 1px solid #adadad;
    border-radius: .5rem;
    backdrop-filter: blur(2px);
    padding: .5rem;
    gap: .25rem;

    @media screen and (min-width: 400px) {
        grid-template-columns: repeat(2, 1fr);
    }
}