#errors-count-container {
    margin: 1rem 0;
    display: none;
    background: #22272B;
    padding: .75rem;
    gap: .25rem;

    a {
        color: inherit;
    }

    h2 {
        font-size: 1.5rem;
    }

    div {
        display: flex;
        justify-content: space-between;
    }
}