footer {
    margin-top: auto;
    background: var(--background-secondary);
    border-top: 1px solid var(--background-quaternary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem;

    p {
        font-weight: 500;
    }
}