footer {
    margin-top: auto;
    background: var(--background-secondary);
    display: flex;
    justify-content: space-between;
    padding: .75rem;

    p {
        font-weight: 500;
    }

    a {
        color: inherit;
    }
}