.run-button-audit-checkboxes-container {
    position: relative;
    
    .audit-checkboxes-container {
        opacity: 0;
        border: 1px solid red;
        max-width: 10rem;
        display: grid;
    }

    &:hover {
        .audit-checkboxes-container {
            opacity: 1;
        }
    }

    .button-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;

        button {
            display: flex;
            align-items: center;
            height: 2rem;
        }
    }
}