.run-button-audit-checkboxes-container {
    position: relative;
    display: flex;
    width: fit-content;

    #run-audit-btn {
        order: -1;
        background: #2C333A;
        border: 1px solid #161A1D;
        border-radius: .5rem 0 0 .5rem;
        padding: .25rem;
        height: 1.75rem;
        color: inherit;
    }

    #open-audit-checkboxes-dropdown-button {
        background: #2C333A;
        border: 1px solid #161A1D;
        border-radius: 0 .5rem .5rem 0;
        height: 1.75rem;
        display: grid;
        place-content: center;
        
        img {
            filter: invert(1);
        }
    }

    #open-audit-checkboxes-dropdown-button img.open {
        display: block;
        transform: rotate(180deg);
    }
    
    .audit-checkboxes-container {
        border: 1px solid #161A1D;
        background: #22272B;
        border-radius: .25rem;
        backdrop-filter: blur(4px);
        padding: .5rem;
        min-width: 12rem;
        display: none;
        position: absolute;
        left: 100%;
        z-index: 99;

        p {
            border-bottom: 1px solid #adadad;
            padding-bottom: .5rem;
            margin-bottom: .5rem;
        }

        label {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            gap: .25rem;
        }

        &.open {
            display: grid;
        }

        input[type="button"] {
            margin-top: .5rem;
            background: rgba(223, 223, 223, 1);
            border: 1px solid #adadad;
            border-radius: .25rem;
            padding: .25rem;
        }
    }
}