.run-button-audit-checkboxes-container {
    position: relative;
    display: flex;
    width: fit-content;

    #run-audit-btn {
        order: -1;
    }
    
    .audit-checkboxes-container {
        opacity: 0;
        border: 1px solid red;
        max-width: 10rem;
        display: grid;
        position: absolute;
        transform: translateX(100%);
    }

    &:hover {
        .audit-checkboxes-container {
            opacity: 1;
        }
    }
}