@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "./abstracts/colors";

@supports (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-color: var(--background-quaternary) var(--background-secondary);
  scroll-behavior: smooth;
}

body {
  color: var(--text-primary);
  min-height: 100vh;
  background: var(--background-secondary);
  font-size: .875rem;
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
}

main {
  flex-grow: 1;
  background: var(--background-primary);
  border-top: 1px solid var(--background-quaternary);
  border-bottom: 1px solid var(--background-quaternary);
  display: flex;
  flex-direction: column;

  &.scrollbar-border-right {
    box-shadow: inset -1px 0 0 0 var(--background-quaternary);
    border-radius: 0 4px 4px 0;
  }
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto !important;
  }

  *, *::before, *::after {
    transition: none !important;
    animation: none !important;
  }
}

// https://blog.jim-nielsen.com/2019/conditional-syntax-highlighting-in-dark-mode-with-css-imports/
@import "./highlightjs-themes/atelier-seaside.min.css";
@import "./highlightjs-themes/atelier-seaside-light.min.css" screen and (prefers-color-scheme: light);

@import "./layout/header";
@import "./components/controls";
@import "./components/status-message";
@import "./components/indicators";
@import "./components/button";
@import "./components/checkbox";
@import "./layout/errors-count";
@import "./layout/audit-results";
@import "./layout/footer";
@import "./abstracts/utilities";
@import "./abstracts/keyframes";