@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "./atelier-seaside.min.css";
@import "./atelier-seaside-light.min.css" screen and (prefers-color-scheme: light);
:root {
  --text-primary: #DEE4EA;
  --background-primary: #101214;
  --background-secondary: #22272B;
  --background-tertiary: #2C333A;
  --background-quaternary: #454F59;
  --neutral500: #596773;
  --button-state-effect: #596773;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-primary: #121212;
    --background-primary: #F7F8F9;
    --background-secondary: #F1F2F4;
    --background-tertiary: #DCDFE4;
    --background-quaternary: #B3B9C4;
    --neutral500: #8590A2;
    --button-state-effect: #DCDFE4;
  }
  .icon {
    filter: invert(1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-color: var(--background-quaternary) var(--background-secondary);
  scroll-behavior: smooth;
}

body {
  color: var(--text-primary);
  min-height: 100vh;
  background: var(--background-primary);
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}
header {
  padding: 0.75rem;
}

.run-button-audit-checkboxes-container {
  position: relative;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.run-button-audit-checkboxes-container #run-audit-btn {
  order: -1;
  background: var(--background-tertiary);
  border: 1px solid #161A1D;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.25rem;
  height: 1.75rem;
  color: inherit;
}
.run-button-audit-checkboxes-container #open-audit-checkboxes-dropdown-button {
  background: var(--background-tertiary);
  border: 1px solid #161A1D;
  border-radius: 0 0.5rem 0.5rem 0;
  height: 1.75rem;
  display: grid;
  place-content: center;
}
.run-button-audit-checkboxes-container #open-audit-checkboxes-dropdown-button img.open {
  display: block;
  transform: rotate(180deg);
}
.run-button-audit-checkboxes-container .audit-checkboxes-container {
  border: 1px solid #161A1D;
  background: var(--background-tertiary);
  border-radius: 0.25rem;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 0.5rem;
  min-width: 12rem;
  display: none;
  position: absolute;
  left: 100%;
  z-index: 99;
}
.run-button-audit-checkboxes-container .audit-checkboxes-container p {
  border-bottom: 1px solid #adadad;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.run-button-audit-checkboxes-container .audit-checkboxes-container label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0.25rem;
}
.run-button-audit-checkboxes-container .audit-checkboxes-container.open {
  display: grid;
}
.run-button-audit-checkboxes-container .audit-checkboxes-container input[type=button] {
  margin-top: 0.5rem;
  background: rgb(223, 223, 223);
  border: 1px solid #adadad;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

#loading-indicator {
  display: none;
  width: 2rem;
  height: 2rem;
  border: 0.25rem solid #363636;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  position: absolute;
  inset: 50% 0 0 0;
  margin: 0 auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#errors-indicator:empty {
  display: none;
}

#errors-count-container {
  margin: 0.75rem;
  display: none;
  background: var(--background-secondary);
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: 1px solid var(--background-quaternary);
  padding: 0.75rem;
  gap: 0.25rem;
}
#errors-count-container a {
  color: inherit;
}
#errors-count-container h2 {
  font-size: 1.5rem;
}
#errors-count-container div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#errors-count-container div p {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
#errors-count-container div a {
  width: -moz-fit-content;
  width: fit-content;
  justify-self: flex-end;
}
#errors-count-container .count {
  font-weight: 600;
  font-size: 0.9375rem;
}

@keyframes highlight {
  0% {
    outline: 4px solid red;
  }
  50% {
    outline: 4px solid transparent;
  }
  100% {
    outline: 4px solid red;
  }
}
.highlight {
  animation: highlight 2s linear;
  outline-offset: 0.25rem;
  scroll-margin-top: 1rem;
}

#errors-list {
  padding: 0.75rem;
}
#errors-list details summary img {
  transform: rotate(0deg);
}
#errors-list details[open] summary img {
  transform: rotate(180deg);
}
#errors-list details[open] details summary img {
  transform: rotate(0deg);
}
#errors-list details[open] details[open] summary img {
  transform: rotate(180deg);
}
#errors-list details:not(details details) {
  background: var(--background-secondary);
  margin-bottom: 0.75rem;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: 1px solid var(--background-quaternary);
}
#errors-list details:not(details details) ul {
  list-style-type: none;
}
#errors-list details:not(details details) > ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 0.75rem 0.75rem 0.75rem;
}
#errors-list details:not(details details) > ul > li {
  background: var(--background-tertiary);
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  width: 100%;
  border: 1px solid var(--background-quaternary);
}
#errors-list details:not(details details) > ul > li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#errors-list details:not(details details) > ul > li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#errors-list details:not(details details) > ul > li h3 {
  border-bottom: 2px solid var(--background-quaternary);
  margin: 0 -0.75rem 0.75rem -0.75rem;
  padding: 0 0.75rem 0.625rem 0.75rem;
}
#errors-list details:not(details details) > ul > li .element-location *, #errors-list details:not(details details) > ul > li .element-fix * {
  display: inline;
}
#errors-list details:not(details details) > ul > li .element-information {
  padding: 1.5rem 0;
}
#errors-list details:not(details details) > ul > li .element-information:not(:has(pre)) {
  padding-top: 1.25rem;
}
#errors-list details:not(details details) > ul > li .element-information:not(:has(div)) {
  padding: 0.75rem 0;
}
#errors-list details:not(details details) > ul > li .element-information pre {
  border-top: 1px solid var(--background-quaternary);
  border-bottom: 1px solid var(--background-quaternary);
  margin: 0.5rem -0.75rem;
}
#errors-list details:not(details details) > ul > li .element-information pre code {
  padding: 0.75rem !important;
}
#errors-list details:not(details details) > ul > li .element-information .element-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
#errors-list details:not(details details) > ul > li:not(:has(.element-information)) .element-fix {
  padding-top: 1.25rem;
}
#errors-list details:not(details details) > ul > li button {
  border: none;
  color: inherit;
  background: var(--background-quaternary);
  border: 1px solid var(--neutral500);
  padding: 0.25rem 0.375rem;
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  font-family: inherit;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
}
#errors-list details:not(details details) > ul > li button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
#errors-list details:not(details details) > ul > li button:not(:disabled):hover, #errors-list details:not(details details) > ul > li button:not(:disabled):active, #errors-list details:not(details details) > ul > li button:not(:disabled):focus-visible {
  background: var(--button-state-effect);
  outline: 2px solid var(--text-primary);
  outline-offset: 1px;
}
#errors-list details:not(details details) > ul > li .error-pagination-controls {
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
  margin-top: 0.75rem;
}
#errors-list details:not(details details) > ul > li .error-pagination-controls span {
  align-self: center;
}
#errors-list details:not(details details) > ul > li .error-pagination-controls span span {
  font-weight: 600;
}
#errors-list details:is(details details) {
  margin-top: 1.25rem;
  border-radius: 3px;
  background: var(--background-quaternary);
  border: 1px solid var(--neutral500);
}
#errors-list details:is(details details) ul {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  padding: 0.75rem;
  border-top: 2px solid var(--neutral500);
}
#errors-list details > summary {
  padding: 0.75rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
}
#errors-list details > summary:is(details details summary) {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.3125rem 0.75rem;
}

footer {
  margin-top: auto;
  background: var(--background-secondary);
  border-top: 1px solid var(--background-quaternary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
}
footer p {
  font-weight: 500;
}

.external-link {
  color: inherit;
}
.external-link img {
  transform: translate(2px, 4px);
}/*# sourceMappingURL=style.css.map */