@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(204, 204, 204, 0.2);
    color: $gray-primary;
}

pre {
    overflow-x: auto;
}

ul {
    list-style-type: none;
}

// initially hidden eleements
#errors-count-total {
    display: none;
}

#loading-indicator {
    display: none;
}

@import "./run-audit-btn";