* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #363636;
}

pre {
    overflow-x: auto;
}

ul {
    list-style-type: none;
}

// initially hidden eleements
#errors-count-container {
    display: none;
}

#loading-indicator {
    display: none;
}

@import "./run-audit-btn";
@import "./errors-count";