label:has(input[type="checkbox"]) {
    display: flex;
    align-items: center;
    gap: .25rem;

    input[type="checkbox"] {
        width: .875rem;
        height: .875rem;
        appearance: none;
        border: 1px solid var(--text-primary);
        border-radius: 3px;

        &:checked {
            background: var(--text-primary);
            background-image: var(--checkmark);
        }

        &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus-visible {
            outline: 2px solid var(--text-primary);
            outline-offset: 1px;
        }
    }
}