.controls-container {
    padding: .75rem .75rem 0 .75rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: .5rem;
}

.run-button-audit-checkboxes-container {
    position: relative;
    display: flex;
    width: fit-content;

    #run-audit-btn {
        order: -1;
        border-radius: 3px 0 0 3px;
        height: 1.75rem;
    }

    #open-audit-checkboxes-dropdown-button {
        border-radius: 0 3px 3px 0;
        border-left: 0px;
        height: 1.75rem;
        padding: 0;
        display: grid;
        place-content: center;

        img {
            transition: .3s;

            &.open {
            display: block;
            transform: rotate(180deg);
            transition: .3s;
            }
        }
    }
    
    .audit-checkboxes-container {
        border: 1px solid var(--neutral500);
        background: var(--background-secondary);
        box-shadow: var(--box-shadow);
        border-radius: .25rem;
        backdrop-filter: blur(4px);
        padding: .5rem;
        min-width: 12rem;
        display: none;
        position: absolute;
        left: 100%;
        z-index: 99;

        p {
            border-bottom: 1px solid var(--neutral500);
            padding-bottom: .5rem;
            margin-bottom: .5rem;
        }

        label {
            display: flex;
            justify-content: space-between;
            gap: .25rem;
        }

        &.open {
            display: grid;
        }

        button {
            margin-top: .5rem;
            border-radius: .25rem;
            padding: .25rem;
            display: flex;
            justify-content: center;
        }
    }
}